<!doctype html>
<html>
	<head>
		<title>The Bachelorette Fantasy League</title>
		<meta charset="utf/8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<script src="https://unpkg.com/vue" defer></script>
		<script src="frontend.js" defer></script>
	</head>
	<body>
		<h1>The Bachelorette Fantasy League</h1>
		<button id="refresh">Refresh</button>
		<div id="app">
			<h2>League</h2>
			<table>
				<tr v-for="player in fantasyPlayers">
					<td rowspan="2">{{ player.name }}</td>
					<td>{{ player.men[0] }}</td>
					<td>{{ player.men[1] }}</td>
					<td>{{ player.men[2] }}</td>
					<td>{{ player.men[3] }}</td>
					<td>{{ player.men[4] }}</td>
				</tr>
				<tr v-for="player in fantasyPlayers">
					<td>{{ scoreFor(player.men[0]) }}</td>
					<td>{{ scoreFor(player.men[1]) }}</td>
					<td>{{ scoreFor(player.men[2]) }}</td>
					<td>{{ scoreFor(player.men[3]) }}</td>
					<td>{{ scoreFor(player.men[4]) }}</td>
				</tr>
			</table>
			<h2>Episode performances</h2>
			<div v-for="entry in bacheloretteData">
				<h3>{{ entry.episode }}</h3>
				<table>
					<tr v-for="stat in stats">
						<td>{{ stat }}</td>
						<td v-for="contestant in entry.stats">{{ contestant[stat] }}</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>